<p>registration works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="sampleForm">
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>
                     
                                <!-- <div class="form-group">
                                    <label for="employeeId"><span class="req">* </span>Id: <small>This will be your login user
                                            id</small> </label>
                                    <input required type="number"  name="employeeId" id="number"
                                        class="form-control phone"  placeholder="Enter your Id..." />
                                </div> -->

                    <div class="form-group">
                        <label for="name"><span class="req">* </span> Name:</label>
                        <input class="form-control" type="text" name="name" formControlName="name" id="name"
                        placeholder="Enter your name"/>
                        <!-- <input required type="text"  name="name" id="name"
                            class="form-control" maxlength="28" placeholder="Enter your name..." /> -->
                    </div>

                    <div class="form-group">
                        <label for="emailId"><span class="req">* </span> Email Id: </label>
                        <input class="form-control" type="email"  name="emailId" formControlName="emailId" id="emailId" 
                            placeholder="Enter valid email address" />
                        
                    </div>

                    <div class="form-group">
                        <label for="designation"><span class="req">* </span> Designation : </label>
                        <input class="form-control" required type="text"   formControlName="designation" id="designation"
                            placeholder="Enter your Designation" />
                        
                    </div>

                    <!-- <div class="form-group">
                        <label for="email"><span class="req">* </span> Developer: </label>
                        <input class="form-control" required type="text" [(ngModel)]="user.domain" name="domain"
                            id="email" placeholder="fullstack/backend/developer" />
                        <div class="status" id="status"></div>
                    </div> -->
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="register()">
                    </div>

                    <!-- <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Update" (click)="update()">
                    </div> -->
                    <!-- <div style="text-align: center">
                        <h3>{{message}}</h3>
                    </div> -->
                    <div class="btnstyle">
                    <button><a href="http://localhost:4200/search">Click here to view employee details:)</a></button>
                </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>
