

    <html>
        <!-- <h2>Employee management System</h2> -->
        <head>
             <!-- <link rel="stylesheet" href="app.component.css"> -->
         <style type="text/css">
          .bgimg{
             background: url("infosys-nyn-tagline-jpg.jpg");
             width:70%;
             height:530px;
         } 
        </style>
        <p style="text-align:center;">Employee Mangement System</p>
    </head>
        <body>
        <!-- <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.infosys.com%2Fnewsroom%2Fjournalist-resources%2Finfosyslogo.html&psig=AOvVaw0G4knRyQUPQQOFCCPeeX5r&ust=1622285581440000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCytfKa7PACFQAAAAAdAAAAABAD"> -->
       <!-- <button> <a href="http://localhost:4200/register"> Register</a></button>
        <button><a href="http://localhost:4200/search"> Search/Delete</a></button> -->
       <!-- <div  style="background-color:gray;"> -->
        <div class="bgimg">
            <!-- <input type="text" style="font-size: x-large; width:500px;"/> -->
            <router-outlet></router-outlet>
        <!-- </div> -->

       </div>
    </body>
    </html>
        
    

<!-- <h1>Employee management System</h1> -->
<!-- <router-outlet></router-outlet> -->