<p>home works!</p>
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<body>
    <!-- <div class="bg"> -->
<p 
style="text-align: center; 
font-size: x-large; color:rgb(15, 15, 99);" ><b>
Employee Management System</b>
</p>
<div class="topnav">
    <!-- <a class="active" href="">Home</a> -->
    <button> <a href="http://localhost:4200/register"> Register</a></button><br><br>
        <button><a href="http://localhost:4200/search"> Search/Delete</a></button>
</div>
<!-- </div> -->
</body>


</html>
